.header {
    z-index: 600;
    display: block;
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: #DCDCDC;
    //mix-blend-mode: normal;
    //opacity: 0.55;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.header::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #FFD700;
    content: "";
}

.headerContent {
    display: block;
}

.headerLinks {
    margin-left: 30%;
    margin-right: auto;
    display: block;
    block-size: 45px;
}

.insidePageLinks {
    display: flex;
    list-style: none;
    padding: 2px 0px;
}

.insidePageLink {
    margin-right: 20px;
}

.insideFunctionLinks {
    display: flex;
    list-style: none;
    padding: 3px 0px;
   
}

.insideFunctionLink {
    margin-right: 20px;
}

.insideFunctionLink_username {
    margin-right: 20px;
    margin-top: 8px;
}

.insideFunctionLink::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--color-black);
}

.insideFunctionLink:hover::after{
    content: '';
    left: 0;
    width: 100%;
    transition: inherit;
}

.headermain {
    display: block;
    position: relative;
    width: 100%;
}

.logo {
    display: inline-block;
    cursor: pointer;
    margin-left: 8.5%;
}

.searchField {
    display: inline-block;
    width: 40%;
    position: absolute;
    top: 8px;
    margin-left: 7%;
    align-items: center;
}

.searchFieldInput {

    width: 100%;
    height: 68px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}
