.header {
    z-index: 600;
    position: fixed;
    width: 100%;
    background-color: white;
    // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.logo {
    cursor: pointer;
}

.headerContent {
    display: flex;
}

.searchFieldInput {
    margin: 8px;
    width: 20%;
}

.headerLinks {
    margin: 0 0 0 auto;
}

.insidePageLinks {
    display: flex;
    list-style: none;
    padding: 5px 0px;
}

.insidePageLink {
    margin-right: 20px;
}

.insideFunctionLinks {
    display: flex;
    list-style: none;
    padding: 5px 0px;
}

.insideFunctionLink {
    margin-right: 20px;
}

.insideFunctionLink::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--color-black);
}

.insideFunctionLink:hover::after{
    content: '';
    left: 0;
    width: 100%;
    transition: inherit;
}

