.shop_detail {
    width: 45%;
}

.title {
  margin-left: 30px;
}

.contents {
  background-color: rgb(246, 249, 252);
  margin: 10px 20px;
  border-radius: 10px;
  padding: 5px;
}

.table_data{
  text-indent: 1em;
}