.timeline {
  position: relative;
  width: 1200px;
  margin: 0 0 0 120px;
  //max-width: 800px;
  z-index: 100;
  padding-top: 90px;
  
}

.drawerContentPosition {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.lists {
  list-style: none;
}

.cardPosition {
  display: flex;
}

.card {
  margin-right: 30px;
  margin-bottom: 20px;
}

.currentTag {
  background-color: rgba(253, 255, 130, 0.755);
  margin-top: 10px;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.anotherTag {
  background-color: rgba(181, 247, 250, 0.775);
  margin-top: 10px;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.drawerCloseButton {
  text-align:right;
  cursor: pointer;
}

.searchField {
  display: flex;
  flex-wrap: "wrap";
  flex-direction: "row";
  justify-content: "center";
  align-items: "center";
  width: 700px;
}

.searchFieldInput {
  margin: 8px;
  // width: "70%";
  width: 500px;
}
.post {
  vertical-align: top;
  display:inline-block;
  flex-wrap:wrap;
  width:auto;
  max-width: 970px;
  margin-top:-5px;
}
.postLine{
  vertical-align: top;
  width: 485px;
  box-sizing: border-box;
  display: inline-block;
}
.unitPost {
  background-color: #FFFFFF;
  margin: 15px 0 0 15px;
  width: 470px;
  height: 330px;
  border-bottom:2px solid #DCDCDC;
  border-radius: 2em;
}
.sidebar{
  margin-top:10px;
  width:230px;
  display:inline-block;
}
.icon{
  height: 18px;
  width: 18px;
  color:#FFD700;
  margin: 0px 5px -3px 10px;
}
.icon_search{
  height: 18px;
  width: 18px;
  color:#FFFFFF;
  margin: 0px 5px -3px 10px;
}
// .item{

// }
.itemButton{
  text-align: center;
  width: 100%;
  //height: 40px;
  //margin-bottom: 9px;
  border-color: #FFD700;
  background-color:#FFD700;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 40px;
  //padding-right: 1em;
}
.form{
  //width:"90%",height:"45px",paddingTop:"10px",marginLeft:"5px"
  padding-top:10px;
  display: flex;
  height: 45px;
  width: 220px;
  margin: 0px auto;
}
.button{
  //margin-left: -10px;
  width: 100%;
  padding:0px;
}
.box{
  padding-bottom: 20px;
  height:auto
}
.label{
  width: 100%;
  height: 40px;
  margin-bottom: 9px;
  background-color: #f0efef;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
}
