.timeline {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  z-index: 100;
  padding-top: 80px;
}

.drawerContentPosition {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.lists {
  list-style: none;
}

.cardPosition {
  display: flex;
}

.card {
  margin-right: 30px;
  margin-bottom: 20px;
}

.currentTag {
  background-color: rgba(253, 255, 130, 0.755);
  margin-top: 10px;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.anotherTag {
  background-color: rgba(181, 247, 250, 0.775);
  margin-top: 10px;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.drawerCloseButton {
  text-align:right;
  cursor: pointer;
}

.searchField {
  display: flex;
  flex-wrap: "wrap";
  flex-direction: "row";
  justify-content: "center";
  align-items: "center";
  width: 700px;
}

.searchFieldInput {
  margin: 8px;
  // width: "70%";
  width: 500px;
}
.post {
  margin: 10px 20px;
  border-radius: 10px;
  padding: 5px;
  display:flex;
  flex-wrap:wrap;
}
.postLine{
  width: 25em;
  box-sizing: border-box;
}
.unitPost {
  background-color: rgb(229, 237, 250);
  margin: 10px 20px;
  border-radius: 10px;
  padding: 5px; 
}

